<!DOCTYPE html>
<html>
<body>

<h1>Client Request</h1>

<p>Email was send</p>
{# @var sentEmail \App\Entity\Models\SentEmail #}
<p>- email: {{ sentEmail.email }}</p>
<p>- fullName: {{ sentEmail.fullName }}</p>
<p>- storeName: {{ sentEmail.storeName }}</p>
<p>- message: {{ sentEmail.message }}</p>

</body>
</html>
